.Main {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(236, 210, 176); */
  max-height: fit-content;
  height: 100%;
  margin: 0;
}

.App {
  width: 50%;
  min-height: 100%;
}

.Image {
  max-width: 781.5px;
  height: 1042px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
